@font-face {
	font-family: "stranger-font";
	src: url("../font/stranger-font.ttf");
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	font-family: 'Vollkorn', serif;
}

html {
	scroll-behavior: smooth;
}
#natitle {
	font-size: 40px;
	color: #dc3545;
	font-family: 'stranger-font', serif;
}

#naright {
	font-size: 115%;
	font-family: 'Vollkorn', serif;
}

#naborder {
	border: 1px solid #dc3545;
	/*border-radius: 10px;*/
}

#cap-proj {
	font-size: 50px;
	color: white;
	font-family: 'stranger-font', serif;
	border: 1px solid #dc3545;
	border-radius: 5px;
}

#char-pad {
	height: 75vh;
	padding-top: 15%;
}


.container h5, .container h1 {
	font-family: 'stranger-font', serif;

}

.container-fluid {
	font-family: 'stranger-font', serif;
}

.container p {
	font-family: 'Vollkorn', serif;
}

#sonecon {
	font-family: 'Vollkorn', serif;

}

#party {
	font-size: 255%;
	font-family: 'stranger-font', serif;
	padding-top: 10%;
	padding-bottom: 2%;
}

#teenager {
	font-size: 255%;
	font-family: 'stranger-font', serif;
	padding-top: 2%;
	padding-bottom: 2%;
}

#adult {
	font-size: 255%;
	font-family: 'stranger-font', serif;
	padding-top: 2%;
	padding-bottom: 2%;

}

#top-button {
	margin: 0 auto;
}

.first-pad {
	height: 100vh;
	padding-top: 10%;
}

/*.car-in {
	padding-top: 15%;
	width: 100%
}*/

.char-text {
	font-family: 'Vollkorn', serif;
}

#trivia-list {
	font-size: 120%;
	padding-left: 10%;
}

.season-title {
	font-family: 'stranger-font', serif;
}





/*.card-img {
	width: 100%;
  	height: auto;
}*/

/*.footer {
	position: absolute;
	margin-top: 50%;
}*/

/*#carousel-home {
	height: 100vh;
}

#carousel-home img {
	height: 50vh;
}*/

footer > p {
	color: white;
}


/*media queries*/

/*for mobile phone*/
@media only screen and (max-width: 400px) {

	#carousel-home {
		height: 100%;
		width: auto;
	}

	#carousel-home img {
		height: 48vh;
	}

	#natitle {
		font-size: 100%;
	}

	#cap-proj {
		font-size: 90%;
	}

	#naright {
		font-size: 75%;
	}

	.card-title {
		font-size: 85%;
	}

	.card-text {
		font-size: 75%;
	}

	.footer {
		font-size: 75%;
	}

	.btn {
		font-size: 75%;
	}

	#party {
	font-size: 105%;
	font-family: 'stranger-font', serif;
	padding-top: 30%;
	}

	#teenager {
	font-size: 105%;
	font-family: 'stranger-font', serif;
	padding-top: 5%;
	padding-bottom: 5%;
	}

	#adult {
	font-size: 105%;
	font-family: 'stranger-font', serif;
	padding-top: 5%;
	padding-bottom: 5%;
	}


	#char-pad {
	height: 100%;
	padding-top: 15%;
	}
	
	#foot {
	position: relative;
	/*position: relative; for small screen!*/
	bottom: 0;
	}

	#trivia-list {
	font-size: 85%;
	padding-left: 10%;
	}




}

/*for tablet*/
@media only screen and (min-width: 410px) and (max-width: 960px) {

	#carousel-home {
		height: 50%;
		width: auto;
	}

	#carousel-home img {
		height: 60vh;
	}

	#natitle {
		font-size: 105%;
	}

	#cap-proj {
		font-size: 100%;
	}

	#naright {
		font-size: 80%;
	}

	.card-title {
		font-size: 95%;
	}

	.card-text {
		font-size: 83%;
	}

	.footer {
		font-size: 80%;
	}

	.btn {
		font-size: 83%;
	}

	#trivia-list {
	font-size: 97%;
	padding-left: 10%;
	}


}

/*for desktop*/
@media only screen and (min-width: 961px) {
	#carousel-home {
		height: 100%;
		width: auto;
	}

	#carousel-home img {
		height: 80vh;
	}

	#natitle {
		font-size: 300%;
	}

	#cap-proj {
		font-size: 250%;
	}

	#naright {
		font-size: 115%;
	}

	.card-title {
		font-size: 150%;
	}

	.card-text {
		font-size: 110%;
	}

	.footer {
		font-size: 100%;
	}

	.btn {
		font-size: 110%;
	}

	#trivia-list {
	font-size: 140%;
	padding-left: 10%;
	}

	#party {
	font-size: 255%;
	font-family: 'stranger-font', serif;
	padding-top: 10%;
	padding-bottom: 2%;
	}

	#teenager {
		font-size: 255%;
		font-family: 'stranger-font', serif;
		padding-top: 2%;
		padding-bottom: 2%;
	}

	#adult {
		font-size: 255%;
		font-family: 'stranger-font', serif;
		padding-top: 2%;
		padding-bottom: 2%;

	}


}